*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;



}

header {
    background-image: url('kali.jpg'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    /*padding: 2rem;
    */text-align: center;
    
   /* padding: 50px 20px;*/
    background-color: #f4f4f4;
    color: white;

  }
  
  .stepheader{
    text-align: center;
  }


  .steps, .ocu-highlight, .extra-tips {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .steps h2, .ocu-highlight h2, .extra-tips h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  
  
  .step, .tip {
    margin-bottom: 30px;
  }

  .steps, .extra-tips {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.Adtip {

    text-align: center;
}
.step, .tip {
    flex: 1;
    min-width: 200px;
    border: 1px solid #ccc;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border-radius: 10px; /* Rounded corners */
    box-shadow:  3px 3px #ff6600; /* Subtle shadow */
    transition: transform 0.3s; /* Smooth hover effect */
    background: rgba(87, 86, 86, 0.8); /* Light background for readability */


}
  
  .ocu-highlight {
    background: rgba(87, 86, 86, 0.8); /* Light background for readability */
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
  }
  
  .ocu-highlight ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ocu-highlight ul li {
    margin: 10px 0;
  }
  
  .ocu-highlight button {
    background-color: #ff6600;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .ocu-highlight button:hover {
    background-color: #f4f4f4;
  }

.navbar{
  background-color:#f4f4f4;
}  
.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
}

.navbar-item a:hover {
    background-color: #ff6600;
    color: white;
    box-shadow: 0 0 20px rgba(255, 102, 0, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
}
.cta {
    background-color: #ff6600;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.clickable {
    cursor: pointer; /* Add this line for clickable cursor */
}
