<<<<<<< HEAD
/*below is for preparation tips page*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;



}

>>>>>>> f37800e1ea71a2723faaa27853f8d058b8dc490e
header {
    background-image: url('../images/ai.png'); /* Replace with actual path */
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
<<<<<<< HEAD
    text-align: center;
=======
    /*padding: 2rem;
    */text-align: center;
    
>>>>>>> f37800e1ea71a2723faaa27853f8d058b8dc490e
   /* padding: 50px 20px;*/
    /*background-color: #f4f4f4;*/
    color: #e9e3e3;

  }
  
  .stepheader{
    text-align: center;
  }


  .steps, .ocu-highlight, .extra-tips {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .steps h2, .ocu-highlight h2, .extra-tips h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .step h3 {
    text-decoration: underline #ff6600;
<<<<<<< HEAD
    cursor: pointer;
=======
>>>>>>> f37800e1ea71a2723faaa27853f8d058b8dc490e
    
}
  
  .step, .tip {
    margin-bottom: 30px;
  }

  .steps, .extra-tips {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Adtip {

    text-align: center;
}
.step, .tip {
    flex: 1;
    min-width: 200px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
  .ocu-highlight {
    background-color: #504e4d;
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 10px;
  }
  
  .ocu-highlight ul {
    list-style-type: none;
    padding: 0;
  }
  
  .ocu-highlight ul li {
    margin: 10px 0;
  }
  
  .ocu-highlight button {
    background-color: white;
    color: #ff6600;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .ocu-highlight button:hover {
    background-color: #f4f4f4;
  }
  
<<<<<<< HEAD
  .cta {
=======
.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    border-radius: 4px;
}

.navbar-item a:hover {
    background-color: #ff6600;
    color: white;
    box-shadow: 0 0 20px rgba(255, 102, 0, 0.5);
    transform: scale(1.05);
    transition: transform 0.5s;
}
.cta {
>>>>>>> f37800e1ea71a2723faaa27853f8d058b8dc490e
    background-color: #ff6600;
    color: white;
    padding: 50px 20px;
    text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> f37800e1ea71a2723faaa27853f8d058b8dc490e
